<%= form_with(model: grade, local: true) do |form| %>
  <div class="form-group>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :value %>
    <%= form.number_field :value, id: :grade_value, class: "form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :student_id %>
    <%= form.select :student_id, Student.all.collect{|s|[s.name + " "+s.surname, s.id]}, class: "form-control"%>
  </div>


   <div class="field form-group">
     <%= form.label :subject_id %>
     <%= form.select :subject_id, Subject.all.collect{|s|[s.name, s.id]}, class: "form-control" %> 
   </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
  <%= link_to 'Back', grades_path %>
  </div>
<% end %>
