<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to 'Student Card',root_path %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
</nav>

<div class="container">
<h1>Editing Grade</h1>

    <%= render 'form', grade: @grade %>

    <%= link_to 'Show', @grade %> |
</div>