
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<%= link_to 'Student Card',root_path %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
</div>
</nav>

<p id="notice"><%= notice %></p>

<h1>Grades</h1>
<div class='container-fluid col-10'>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Value</th>
      <th>Date</th>
      <th>Student</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.value %></td>
        <td><%= grade.date %></td>
        <td><%= grade.student.to_s %></td>
        <td><%= grade.subject.to_s %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path ,class: 'btn btn-info' %>
</div>
</div>
