
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<%= link_to 'Student Card',root_path %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
</div>
</nav>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col"><strong>Value:</strong></th>
      <th scope="col"><strong>Date:</strong></th>
      <th scope="col"><strong>Student:</strong></th>
      <th scope="col"><strong>Subject:</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @grade.value %></td>
      <td> <%= @grade.date %></td>
      <td><%= @grade.student %></td>
      <td><%= @grade.subject %></td>
      <td><%= link_to 'Edit', edit_grade_path(@grade) %></td>
    </tr>
  </tbody>
  </table>
  </div>

