<%= form_with(model: student, local: true) do |form| %>
   <div class="form-group>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name%>
    <%= form.text_field :name, id: :student_name,class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :student_surname, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, id: :student_birth_date, class: 'form-control' %>
  </div>

  <div class="actions btn btn-default">
    <%= form.submit class: 'btn btn-success'%>
  </div>
  <%= link_to 'Back', students_path, style: 'float:right;', class: 'btn btn-info' %>
</div>
<% end %>
