
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to 'Student Card',root_path %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li> 
    <%= link_to 'New Student', new_student_path %>
    </li>
    <li> 
        <%= link_to 'Grades', grades_path %>
    </li>
    <li> 
        <%= link_to 'Subjects', subjects_path %>
    </li>
  </ul>
</div>
</nav>

<p id="notice"><%= notice %></p>
<div class="container-fluid">
<h1>Students:</h1>

<div class="container">
<%= grid(@students_grid) do |g|

  g.column attribute: "id", name: "ID"

  g.column attribute: "name", name: "Jmeno"

  g.column attribute: "surname", name: "Prijmeni"

  g.column do |student|
    student.age
  end

  g.column do |task|
    link_to('Edit', edit_student_path(task))
  end
end -%>
</div>
</div>

