
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<%= link_to 'Student Card', root_path %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
</div>
</nav>

<div class="container-fluid col-8 ">
<h1>New Student</h1>
<%= render 'form', student: @student %>

</div>