@import "bootstrap";

.navbar-nav li {
    margin: 0 10px;
    
}

.navbar-nav li a{
    text-decoration: none;
    color: #fff;
}

.navbar-nav li a:hover{
    text-decoration: underline;
    transition: 0.5s;
}


