
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Students Card</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav">
                    <li class="nav-item">
                      <%= link_to 'Students', students_path%>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'Grades', grades_path %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'Subjects', subjects_path%>
                    </li>    
                  </ul>
                </div>  
              </nav>
              <div class="container">

              </div>